{% extends 'admin_base.html' %}
{% load static %}



<!-- Content -->
{% block content %}

    <main class="flex-1 bg-gray-50 p-6">

        <!-- Thanh tiêu đề -->
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-semibold text-gray-800">Chi tiết đơn hàng - <em class="text-primary">#{{order.id}}</em></h1>
            <!-- <button class="bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg text-sm font-medium">
            + Tạo đơn hàng
            </button> -->
        </div>

        <div class="table_content">
            <!-- Tabs -->
            <div class="tab-buttons mb-3">
                <button class="btn active">Tất cả đơn hàng</button>
                <button class="btn">Đơn hàng mới</button>
                <button class="btn">Chờ xác nhận</button>
            </div>

            <!-- Filter -->
            <div class="filter-bar">
                <button class="btn btn-outline-secondary"><i class="bi bi-funnel"></i> Thêm điều kiện lọc</button>
                <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng">
            </div>

            <!-- Table -->
            <table class="table table-bordered align-middle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ngày đặt</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Status</th>
                        <th>Tổng tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.order_date}}</td>
                        <td>{{order.customer.cust_name}}</td>
                        <td>{{order.customer.address}}</td>
                        <td>
                            {% if order.status == 'confirmed' %}
                                <span class="badge bg-success">Đã xác nhận</span>
                            {% else %}
                                <span class="badge bg-warning text-dark">Chờ xác nhận</span>
                            {% endif %}
                        </td>
                        <td>{{order.total_amount}}</td>
                        <td class="text-center text-dark"><a href="/adm/order_details/{{order.id}}">&rarr;</a></td>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                </ul>
            </nav>
        </div>
    </main>

        

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.js"></script>
{% endblock %}